<h1>DENK Tarot Lady</h1>
<p>Select one of the cards below to get your tarot card reading</p>
<div class="center">
    <section class="createCard">
        <p>Have you had a card vision?</p>
        <p><a href="/newtarot">+ Create Card</a>
        </p>

    </section>

    <section class="selectCard">

        {{> hand}}

        {{!-- <a href="/tarot">Click here!</a> --}}
    </section>
</div>