<h1>The Post-Modern Tarot Lady</h1>
<p>Select one of the cards below to get your tarot card reading</p>

<section class="createCard"></section>

<section class="selectCard">

    {{> hand}}

    {{!-- <a href="/tarot">Click here!</a> --}}
</section>
