<section class="add-tarot">
    <h1>
        Add your tarot card vision below
    </h1>

    <form class="add-tarot-form" method="POST" action="/newtarot">
        <label for="tarotTitle">Enter tarot card title</label><br>
        <input name="tarot-title" id="tarotTitle"><br>
        <label for="tarotDescription">Enter tarot description</label><br>
        <input name="tarot-description" id="tarotDescription"><br>
        <input type="submit">
    </form>
</section>