<section class="add-tarot">

    <form class="add-tarot-form" method="POST" action="/newtarot">
        <label for="tarotTitle">
            <input name="tarot-title" id="tarotTitle">
        </label>
        <label for="tarotDescription">
            <input name="tarot-description" id="tarotDescription">
        </label>
        <input type="submit">
    </form>
</section>