<section class="tarot-page">

  <h1 class="tarot-card-name">{{tarot.tarot_heading}}</h1>

  <section class="card-container">

    <!-- {{>svg}} -->
    <!-- <div class="tarot-svg">{{{tarot.tarot_image}}}</div> -->
    {{{tarot.tarot_image}}}

    <p class="tarot-description">{{tarot.tarot_description}}</p>

  </section>

  <a class="back-button" href="/">Back</a>

</section>
