<footer>
    © 2019 DENK • <a href="https://github.com/fac-17/DENK" target="_blank">GitHub</a> • Inspired by <a href="https://www.kickstarter.com/projects/2093788053/instant-archetypes-a-new-tarot-for-the-new-normal" target="_blank">Instant Archetypes</a>
</footer>
